#script-pane-categories {}

#script-pane-categories text { pointer-events: none; }
#script-pane-categories g text { fill: black; }
#script-pane-categories g.active text  { fill: white; }
#script-pane-categories g rect.main { opacity: 0; }
#script-pane-categories g.active rect.main { opacity: 1; }
#script-pane-categories g rect.main:hover { opacity: 0.75; }
#script-pane-categories rect { cursor: pointer; }

svg text { fill: white; }

.draggable { cursor: move; }

/* the block categories */
.undefined { fill: #D42828; }
.motion { fill: #4a6cd4; }
.looks, .looks_stage { fill: #8a55d7; }
.sound { fill: #bb42c3; }
.pen, .pen_stage { fill: #0e9a6c; } /* Scratch 1.4: 0x009870 */
.events { fill: #c88330; }
.control, .control_stage { fill: #e1a91a; }
.sensing, .sensing_stage { fill: #2ca5e2; }
.operators { fill: #5cb712; }
.data { fill: #EE7D16; } /* Scratch 1.4: 0xF3761D */
.more { fill: #632D99; } /* 0x531E99; */
.parameter { fill: #5947B1; }
.list { fill: #CC5B22; } /* Scratch 1.4: 0xD94D11 */
.extension { fill: #4B4A60; } /* 0x72228C; /* 0x672D79; */
.old { fill: #4B4A60; } /* 0x72228C; /* 0x672D79; */
.beta { fill:#4B4A60; } /* 0x72228C; /* 0x672D79; */
