#script-pane-categories {}

#script-pane-categories text { pointer-events: none; }
#script-pane-categories g text { fill: black; }
#script-pane-categories g.active text  { fill: white; }
#script-pane-categories g rect.main { opacity: 0; }
#script-pane-categories g.active rect.main { opacity: 1; }
#script-pane-categories g rect.main:hover { opacity: 0.75; }
#script-pane-categories rect { cursor: pointer; }

#script-work-area path { stroke-width: 1px; stroke: grey; }

html, body {
  height: 90vh;
  width: 100%;
}

#stage.fullscreen .inner {
  position: relative;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

#stage.fullscreen .svg-stage {
  /*margin-bottom: 33%;*/
/*  width: 100%; */
/*  padding-bottom: 33%;*/
  /* height: 100%; */
  background:gold;
}
/*
#stage.fullscreen {
  position: absolute;
    background: blue;
    z-index: 1;
    left: 0px;
    top: 0px;
    height: 100%;
}

#stage.fullscreen #stage-content
{
  height: 100%
}
#stage, #sprites-and-backdrops { height: 420px; padding:10px; }
*/


#stage.fullscreen
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #AAA;
}

#editor, #svg-script-pane, #script-editor, #editor-content  {
  height: 100%;

}

#runtime-info {
    position: absolute;
    right: 0px;
    top: 0px;
}

#svg-script-pane {
  width: 100%;
}
/*
#editor-content { height: 100%; }
#script-category { background: #ccc}
#script-pane { background: #aaa}
#svg-script-pane { height: 100%; width: 100%;}
#script-editor { height:100% }
*/


rect.blockarg { fill: white; }
text.blockarg { fill: black; }

svg text { fill: white; }

.draggable { cursor: move; }

.navbar { margin-bottom: 0px;}

/* the block categories */
.undefined { fill: #D42828; }
.motion { fill: #4a6cd4; }
.looks, .looks_stage { fill: #8a55d7; }
.sound { fill: #bb42c3; }
.pen, .pen_stage { fill: #0e9a6c; } /* Scratch 1.4: 0x009870 */
.events { fill: #c88330; }
.control, .control_stage { fill: #e1a91a; }
.sensing, .sensing_stage { fill: #2ca5e2; }
.operators { fill: #5cb712; }
.data { fill: #EE7D16; } /* Scratch 1.4: 0xF3761D */
.more { fill: #632D99; } /* 0x531E99; */
.parameter { fill: #5947B1; }
.list { fill: #CC5B22; } /* Scratch 1.4: 0xD94D11 */
.extension { fill: #4B4A60; } /* 0x72228C; /* 0x672D79; */
.old { fill: #4B4A60; } /* 0x72228C; /* 0x672D79; */
.beta { fill:#4B4A60; } /* 0x72228C; /* 0x672D79; */

.hide { display: none;}
